<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item lines="full" routerLink="/space-jam">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kU0NbsUVoUMcYxoISmBCxFmgWYC.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Space Jam</h1>
          <p>08/07/2021</p>
          <ion-badge color="light">Animação</ion-badge>
          <ion-badge color="light">Comédia</ion-badge>
          <ion-badge color="light">Família</ion-badge>
          <ion-badge color="light">Ficção Científica</ion-badge>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>75%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item routerLink="/luca" lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/9jPa6SlUYxPFMVZlEuceiPPAA15.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Luca</h1>
          <p>07/06/2021</p>
          <ion-badge color="light">Animação</ion-badge>
          <ion-badge color="light">Comédia</ion-badge>
          <ion-badge color="light">Família</ion-badge>
          <ion-badge color="light">Fantasia</ion-badge>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>81%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item routerLink="/invocacao" lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/16kR95yBmFlf3sveibocl7ND83V.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Invocação do Mal 2</h1>
          <p>09/06/2016</p>
          <ion-badge color="light">Terror</ion-badge>
          <ion-badge color="light">Mistério</ion-badge>
          <ion-badge color="light">Thriller</ion-badge>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>73%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item routerLink="/esquadrao" lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wTS3dS2DJiMFFgqKDz5fxMTri.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Esquadrão Suicida</h1>
          <p>28/07/2021</p>
          <ion-badge color="light">Ação</ion-badge>
          <ion-badge color="light">Aventura</ion-badge>
          <ion-badge color="light">Fantasia</ion-badge>
          <ion-badge color="light">Comédia</ion-badge>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>80%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item routerLink="/cruela" lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rRYNGhcAZlTfIUS7iFoF4H9iDbc.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Cruela</h1>
          <p>26/05/2021</p>
          <ion-badge color="light">Comédia</ion-badge>
          <ion-badge color="light">Crime</ion-badge>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
