<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kU0NbsUVoUMcYxoISmBCxFmgWYC.jpg">
      </ion-thumbnail>
      
      
      <div> 
        <h3>Space Jam</h3>
        <h4>15/07/2021</h4>
        <ion-badge color="light">Animação</ion-badge>
        <ion-badge color="light">Comédia</ion-badge>
        <ion-badge color="light">Família</ion-badge>
        <ion-badge color="light">Ficção Científica</ion-badge>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
