<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/9jPa6SlUYxPFMVZlEuceiPPAA15.jpg">
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <h3>Luca - </h3>

              <ion-chip color="success">
                <ion-label>8.1%</ion-label>
              </ion-chip>

            </ion-item>

              <ion-item lines="none" class="ion-no-padding">
                <div>
                  <h4 class="mmm">17/06/2021</h4>
                  <br>
                  <ion-badge color="light">Animação</ion-badge>
                  <ion-badge color="light">Comédia</ion-badge>
                  <ion-badge color="light">Família</ion-badge>
                  <ion-badge color="light">Fantasia</ion-badge>
                </div>
              </ion-item>
          </ion-col>
        </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
