<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wTS3dS2DJiMFFgqKDz5fxMTri.jpg">
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <h3>Esquadrão Suicída 2 - </h3>
              <ion-badge class="sla" slot="end" color="success">8.1%</ion-badge>
            </ion-item>

              <ion-item lines="none" class="ion-no-padding">
                <div>
                  <h4 class="mmm">28/07/2021</h4>
                  <br>
                  <ion-badge color="light">Ação</ion-badge>
                  <ion-badge color="light">Aventura</ion-badge>
                  <ion-badge color="light">Fantasia</ion-badge>
                  <ion-badge color="light">Comédia</ion-badge>
                </div>
              </ion-item>
          </ion-col>
        </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
